 body{
    
    margin: 0;
    background-color:#1e1e1e;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
   margin: 0;
   padding: 0; 
}

.content-section {
    box-sizing: border-box;
    width: 360px;
    margin: auto;
    min-height: 100px;

}

.content-section_subtitle {

}

.content-section_theme_dark {
    background-color: #131313;  
    color: #fff; 
    
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313; 
}

.content-section_list {

}

.content-section_list-item {

}

.content-section_list-accent {
    color:#131313;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 21.6px;
}